
body {
    margin: 0px;
    padding: 0px;
    --main_color: #551A8B;
    --white: #FFF;
    --black: #272727;
    font-family: 'Noto Sans', Arial, sans-serif;
}

#nav_bar {
    z-index: 2;
    height: 40px;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    position: fixed;
    top: 0vw;
}

#nav_link_container {
    width: 90%;
    margin: 0px auto;
}

.nav_link {
    font-size: 20px;
    float: right;
    margin: 5px 15px;
    vertical-align: middle;
    cursor: pointer;
}

    .nav_link:hover {
        color: var(--main_color);
    }
